{% extends "base_generic.html" %}



{% block content %}

{% load static %}

<div class="main-plate">
    <div class="col-lg-6">
        <form id="forgot-password-form" class="input-group" method="post">
            <input name="email" id="email-input" type="email" class="form-control" placeholder="email" required>
            <input name="new_password" id="new-password-input" type="password" class="form-control" placeholder="new password" required>
            <input name="repeat_new_password" id="repeat-new-password-input" type="password" class="form-control" placeholder="repeat new password" required>
            <span class="input-group-btn">
                <button id="forgot-password-form-submit-button" class="btn btn-default" type="submit">Submit</button>
            </span>
        </form>
    </div>
</div>

<script type="module" src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}