{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<div class="main-plate">
    <div class="col-lg-6">
        <form id="login-form" class="input-group" method="post">
            <input name="email" id="email-input" type="email" class="form-control" placeholder="email" required>
            <input name="password" id="password-input" type="password" class="form-control" placeholder="password" required>
            <span class="input-group-btn">
                <button id="login-submit-button" class="btn btn-default" type="submit">Submit</button>
            </span>
            <a href="/forgot_password">Forgot Password?</a>
        </form>
    </div>
</div>

<script type="module" src="{% static 'js/login.js' %}"></script>
{% endblock %}