{% extends "base_generic.html" %}



{% block content %}

{% load static %}
<div class="main-plate">
    <div class="col-lg-6">
        <form id="signup-form" class="input-group" method="post">
            <div class="form-group">
                <div class="flex"><label for="email-input">email</label><text style="color:red;">*</text></div>
                <input id="email-input" type="email" class="form-control" placeholder="email" required>
            </div>
            <div class="form-group">
                <div class="flex"><label for="password-input">password</label><text style="color:red;">*</text></div>
                <input id="password-input" type="password" class="form-control" placeholder="password" required>
            </div>
            <div class="form-group">
                <div class="flex"><label for="repassword-input">repeat password</label><text style="color:red;">*</text></div>
                <input id="repassword-input" type="password" class="form-control" placeholder="repeat password" required>
            </div>
            <span class="input-group-btn">
                <button id="signup-submit-button" class="btn btn-default" type="submit">Submit</button>
            </span>
        </form>
    </div>
</div>
<script type="module" src="{% static 'js/signup.js' %}"></script>

{% endblock %}